.project-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0rem;
}

.project-container-image {
    border-left: none;
}

.project-photo {
    width: 45rem;
    max-height: 450px;
    border: 3rem solid #3216bb;
    object-fit: cover;
}

.project-content {
    // border: 1px dotted #3216bb;
    width: 30rem;
    border-radius: 20px;
    padding: 20px;
    margin: 0 4rem;
}

.project-content-contribution {
    padding-bottom: 2rem;
}

.project-content h3 {
    padding-bottom: 1rem;
}
.project-content p {
    padding-bottom: 1rem;
}

.no-border-left {
    border-left: none;
}

.no-border-right {
    border-right: none;
}
