.experiences-content {
  display: flex;
  justify-content: space-evenly;

  & .experiences-menu {
    padding-right: 2rem;

    & ul {
      list-style: none;
      display: block;

      & li {
        padding: 1rem 2rem;
        color: $primary-color;
        border-left: 0.5px solid grey;
      }

      & .menu-selected-value {
        border-left: solid 2px $primary-color;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }

  & .experiences-details {
    & .experiences-details-title h3 {
      margin-bottom: 0;
    }

    & .experiences-details-missions {
      & ul {
        padding: 0px;
        margin: 0px;
        width: 100%;
      }

      & li {
        margin-bottom: 1rem;
      }

      & li::before {
        padding-right: 1rem;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 768px) {
  .experiences-content {
    display: block;

    & .experiences-menu {
      & ul {
        display: flex;
        overflow-y: auto;

        & li {
          border-left: none;
          border-bottom: 0.5px solid grey;
        }

        & .menu-selected-value {
          border-bottom: solid 2px $primary-color;
          border-left: none;
        }
      }
    }
  }
}
