.contact-container {
  text-align: center;
  margin-bottom: 4rem;

  & ul {
    padding: 0;
    list-style: none;

    & li {
      display: inline-block;
      margin: 0 10px;

      & svg {
        width: 64px;
        height: 64px;
      }
    }
    & li::before {
      content: '';
    }
  }
}

.montaign-image {
  width: 100%;
}

.contact-content {
  height: 10rem;
}
