.contact-container {
  text-align: center;
  margin-bottom: 4rem;

  & ul {
    padding: 0;
    list-style: none;

    & li {
      display: inline-block;
      margin: 0 10px;

      & svg {
        width: 64px;
        height: 64px;
      }
    }
    & li::before {
      content: '';
    }
  }
}

.montaign-image {
  width: 100%;
  padding-top: 3rem;
}

.contact-content {
  height: 10rem;
}

@media (max-width: 480px) {
  .contact-container ul li svg {
    width: 48px;
    height: 48px;
  }
}
