.banner-container {
  position: relative;
  overflow: hidden;
}

.big-heading{
  font-size: 2.5rem;
}

.banner-headline {
  margin-top: 20rem;

  & p {
    padding: 2rem 0;
    font-size: 1.25rem;
  }

  & h3 {
    margin: 0
  }

   & .banner-description {
    width: 30rem;
   }
}


.moon-image {
  position: absolute;
  top: -40rem;
  opacity: 1;
  z-index: 0;
  animation: spin 70s linear infinite;
  width: 60rem;
  left: calc(50% - 30rem);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .moon-image {
    width: 35rem;
    left: calc(50% - 17.5rem);
    top: -20rem;
  }
}

@media (max-width: 480px) {
  .banner-headline {
    margin-top: 15rem;

    & .banner-description {
     width: 20rem;
    }
  }
}


