.banner-container {
  position: relative;
  overflow: hidden;
}

.big-heading{
  font-size: 2.5rem;
}

.banner-headline {
  margin-top: 20rem;

  & p {
    padding: 2rem 0;
  }

  & h3 {
    margin: 0
  }

   & .banner-description {
    width: 20rem;
   }
}


.moon-image {
  position: absolute;
  top: -50rem;
  opacity: 1;
  z-index: 0;
  animation: spin 70s linear infinite;
  width: 75rem;
  left: calc(50% - 37.5rem);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
