.banner-container {
    height: calc(100vh - 4.5rem);
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    align-items: center;
}

.banner-headline {
    max-width: 20rem;
}

.banner-software {
    width: 500px;
    height: auto;
    max-width: 100%;
}