@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&display=swap');

.light-theme {
  --background-color: #b6d1de;
  --text-color: #3a3f4dfa;
  --primary-color: #ed6a5a;
  --box-shadow-color: 3px 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);

  & h2 {
    color: #36454f;
  }

  .brighter-title {
    color: #5b6170;
  }
}

.dark-theme {
  --background-color: #081c3a;
  --text-color: #8892b0;
  --primary-color: #3990ff;
  --box-shadow-color: 0 4px 6px rgba(255, 255, 255, 0.2), 0 1px 3px rgba(255, 255, 255, 0.15);
}

h1,
h2 {
  text-align: left;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  margin: 4rem 0;
  padding-left: 4rem;
  color: $white-text;
}

h3 {
  font-size: 1.75rem;
  font-weight: 200;
}

h4 {
  font-size: 1.125rem;
}

.primary-color-font {
  color: var(--primary-color);
}

.darker-title {
  color: $white-dark;
}

.brighter-title {
  color: $white-text;
}

.numbered-title {
  color: var(--primary-color);
}

.main-container {
  width: 100%;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  margin-bottom: 1rem;
}

li::before {
  content: '▹';
  color: var(--primary-color);
  font-weight: bold;
  padding-right: 1rem;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Finlandica', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  width: 4rem;
  height: 2rem;
  margin: auto 0;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 2rem;
}

.aboutme-container,
.timeline-container,
.banner-container,
.experiences-container,
.projects-container,
.contact-container {
  padding: 2rem 5rem;
}

@media (max-width: 768px) {
  .aboutme-container,
  .timeline-container,
  .banner-container,
  .experiences-container,
  .projects-container,
  .contact-container {
    padding: 0rem 2rem;
  }
}

@media (max-width: 480px) {
  h2 {
    padding-left: 2rem;
  }
}
